{% extends 'main/main.html' %}
{% block title %}
    Change Password
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="main-content">
            {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    <center><p> {{ message }} </p></center>
                {% endfor %}
            </div>
            {% endif %}
            <div class="header">
                <h3 style="text-align: center; color: #fff;"><strong>Change Your Password</strong></h3><hr>
            </div>
            <div class="l_pass">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>    
                        <input id="password" type="password" name="password" class="form-control input_text" placeholder="New Password" required>
                    </div><br>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> 
                        <input id="password" type="password" name="password2" class="form-control input_text" placeholder="Re-enter New Password" required>
                    </div><br>
                    <center><button id="signup" class="btn btn-info btn-lg" name="change">Change Password</button></center>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}