{% extends 'users/navbar.html' %}
{% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block content %}
<center>
    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
</center>
<div class="row">
    <div id="insert_post" class="col-sm-12">
        <center>
            <form action="{% url 'create_post' %}" method="post" id="f" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea class="form-control" rows="4" id="content" name="post_content" placeholder="What's in your mind?"></textarea><br>
                <label class="btn btn-warning" id="upload_image_button">Select Image
                    <input type="file" name="upload_image" size="30">
                </label>
                <button id="btn-post" class="btn btn-success" name="sub">Post</button>
            </form>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}
        </center>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <center><h2><strong>News Feed</strong></h2><br></center>
        <!-- display posts of the user here -->
        {% for post in posts %}
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div id="posts" class="col-sm-6">
                <!-- user details -->
                <div class="row">
                    <div class="col-sm-2">
                        <a style="text-decoration:none; cursor:pointer; color:#3897f0; " href="{% url 'user_profile' post.user.id %}">
                        <p><img src="{{ post.user.userprofile.user_image.url }}" class="img-circle" width="50px" height="50px"></p>
                    </div>
                    <div class="col-sm-6">
                        <b>{{ post.user.username }}</a></b>
                        <h4><small style="color:black;">Updated a post on <strong>{{ post.post_date }}</strong></small></h4>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
                <!-- post details -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- If a post has both an image and content -->
                        {% if post.post_content and post.upload_image %}
                            <p>{{ post.post_content }}</p>
                            <img id="posts-img" src="{{ post.upload_image.url }}" style="height:230x; padding: 5px 10px; min-width: 102%; max-width: 50%;">
                        
                        <!-- If a post only has an image -->
                        {% elif post.upload_image %}
                            <img id="posts-img" src="{{ post.upload_image.url }}" style="height:230px; padding: 5px 10px; min-width: 102%; max-width: 50%;">
                    
                         <!-- If a post is text only -->
                        {% elif post.post_content %}
                            <h1>{{ post.post_content }}</h1>
                        {% endif %}
                    </div>
                </div><br>
                <a href="{% url 'single_post' post.post_id %}" style="float:left;"><button class="btn btn-success">View</button></a>
                <a href="{% url 'single_post' post.post_id %}" style="float:left;"><button class="btn btn-info">Comment</button></a>
                {% if post.user == logged_in_user %}
                    <a href="{% url 'post_edit' post.post_id %}" style="float:left;"><button class="btn btn-success">Edit</button></a>
                    <a href="{% url 'h_post_delete' post.post_id %}" style="float:left;"><button class="btn btn-danger">Delete</button></a>
                {% endif %}
            </div>
            <div class="col-sm-3"></div>
        </div><br><br>
        {% endfor %}
        <!-- Pagination links -->
<center>
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}">Previous</a>
                <br><br>  
                <p>{{ posts.number }} of {{ posts.paginator.num_pages }}</p>
                <a href="?page=1">First Page </a>
            {% endif %}
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">Next Page</a><br><br>
                <p>{{ posts.number }} of {{ posts.paginator.num_pages }}</p>
                <a href="?page={{ posts.paginator.num_pages }}"> Last Page</a>
            {% endif %}
        </span>
    </div>
 </center>
    </div>
</div>

{% endblock %}
 