{% extends 'users/navbar.html' %}
{% block title %}
    {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div>
            <!-- Display the cover image -->
            <div>
                <img id="cover-img" class="img-rounded" src="{{ user_profile.user_cover.url }}" alt="cover">
            </div>

            <!-- Form to update the cover image -->
            <form action="{% url 'update_cover' user.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <ul class="nav pull-left" style="position:absolute; top:10px; left:40px;">
                    <li class="dropdown">
                        <button class="dropdown-toggle btn btn-default" data-toggle="dropdown">Change Cover</button>
                        <div class="dropdown-menu">
                            <center>
                                <p>Click <strong>Select Cover</strong> and then click the <br> <strong>Update Cover</strong></p>
                                <label class="btn btn-info">Select Cover
                                    <input type="file" name="user_cover" size="60" />
                                </label><br><br>
                                <button name="submit" class="btn btn-info">Update Cover</button>
                            </center>
                        </div>
                    </li>
                </ul>
                {% if form.errors %}
                    <div class="alert alert-danger">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    </div>
                {% endif %}
            </form>
        </div>
        <!-- Display the profile image -->
        <div id="profile-img">
            <img src="{{ user_profile.user_image.url }}" alt="Profile" class="img-circle" width="180px" height="185px">

            <!-- Form to update the profile image -->
            <form action="{% url 'update_image' user.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label id="update_profile">Select Image
                    <input type="file" name="user_image" size="60" />
            </label><br><br>
            <button id="button_profile" name="update" class="btn btn-info">Update Profile</button>
            {% if form.errors %}
            <div class="alert alert-danger">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
            </div>
            {% endif %}
            </form>
        </div><br>
    
    </div>
</div>
<!-- <div class="profile-header">
    <h1>{{ user.username }}</h1>
    <p>{{ user_profile.describe_user }}</p>
</div>
<div class="profile-details">
    <p><strong>First Name:</strong> {{ user.first_name }}</p>
    <p><strong>Last Name:</strong> {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Country:</strong> {{ user_profile.user_country }}</p>
    <p><strong>Gender:</strong> {{ user_profile.user_gender }}</p>
    <p><strong>Birthday:</strong> {{ user_profile.user_birthday }}</p>
    <p><strong>Posts:</strong> {{ user_profile.posts }}</p>
</div> -->
{% endblock %}