{% extends 'users/navbar.html' %}
{% block title %}
    {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block content %}
<div class="profile-header">
    <h1>{{ user.username }}</h1>
    <p>{{ user_profile.describe_user }}</p>
</div>
<div class="profile-details">
    <p><strong>First Name:</strong> {{ user.first_name }}</p>
    <p><strong>Last Name:</strong> {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Country:</strong> {{ user_profile.user_country }}</p>
    <p><strong>Gender:</strong> {{ user_profile.user_gender }}</p>
    <p><strong>Birthday:</strong> {{ user_profile.user_birthday }}</p>
</div>
{% endblock %}