{% extends 'users/navbar.html' %}
{% block title %}
    {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div>
            <!-- Display the cover image -->
            <div>
                <img id="cover-img" class="img-rounded" src="{{ user_profile.user_cover.url }}" alt="cover">
            </div>

            <!-- Form to update the cover image -->
            <form action="{% url 'update_cover' user.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <ul class="nav pull-left" style="position:absolute; top:10px; left:40px;">
                    <li class="dropdown">
                        <button class="dropdown-toggle btn btn-default" data-toggle="dropdown">Change Cover</button>
                        <div class="dropdown-menu">
                            <center>
                                <p>Click <strong>Select Cover</strong> and then click the <br> <strong>Update Cover</strong></p>
                                <label class="btn btn-info">Select Cover
                                    <input type="file" name="user_cover" size="60" />
                                </label><br><br>
                                <button name="submit" class="btn btn-info">Update Cover</button>
                            </center>
                        </div>
                    </li>
                </ul>
                {% if form.errors %}
                    <div class="alert alert-danger">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    </div>
                {% endif %}
            </form>
        </div>
        <!-- Display the profile image -->
        <div id="profile-img">
            <img src="{{ user_profile.user_image.url }}" alt="Profile" class="img-circle" width="180px" height="185px">

            <!-- Form to update the profile image -->
            <form action="{% url 'update_image' user.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label id="update_profile">Select Image
                    <input type="file" name="user_image" size="60" />
            </label><br><br>
            <button id="button_profile" name="update" class="btn btn-info">Update Profile</button>
            {% if form.errors %}
            <div class="alert alert-danger">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
            </div>
            {% endif %}
            </form>
        </div><br>
    </div>
    <div class="col-sm-2">
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2" style="background-color: #e6e6e6;text-align: center; left: 0.9%; border-radius: 5px;">
        <center><h2><strong>About</strong></h2></center>
        <center><h4><strong>{{ user.first_name }} {{ user.last_name }}</strong></h4></center>
        <p><strong><i style="color:gray;">{{ user_profile.describe_user }}</i></strong></p><br>
        <p><strong>Relationship Status: </strong>{{ user_profile.relationship }}</p><br>
        <p><strong>Lives in: </strong>{{ user_profile.user_country }}</p><br>
        <p><strong>Member since: </strong>{{ user_profile.user_reg_date }}</p><br>
        <p><strong>Gender: </strong>{{ user_profile.user_gender }}</p><br>
        <p><strong>Date of birth: </strong>{{ user_profile.user_birthday }}</p><br>
    </div>
    <div class="col-sm-8">
        <!-- display user posts -->
        {% for post in posts %}
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div id="profile-posts" class="col-sm-9">
                <!-- user details -->
                <div class="row">
                    <div class="col-sm-2">
                        <a style="text-decoration:none; cursor:pointer; color:#3897f0; " href="{% url 'profile' post.user.id %}">
                        <p><img src="{{ post.user.userprofile.user_image.url }}" class="img-circle" width="50px" height="50px"></p>
                    </div>
                    <div class="col-sm-6">
                        <b>{{ post.user.username }}</a></b>
                        <h4><small style="color:black;">Updated a post on <strong>{{ post.post_date }}</strong></small></h4>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
                <!-- post details -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- If a post has both an image and content -->
                        {% if post.post_content and post.upload_image %}
                            <p>{{ post.post_content }}</p>
                            <img id="posts-img" src="{{ post.upload_image.url }}" style="height:230x; padding: 5px 10px; min-width: 102%; max-width: 50%;">
                        
                        <!-- If a post only has an image -->
                        {% elif post.upload_image %}
                            <img id="posts-img" src="{{ post.upload_image.url }}" style="height:230px; padding: 5px 10px; min-width: 102%; max-width: 50%;">
                    
                         <!-- If a post is text only -->
                        {% elif post.post_content %}
                            <h1>{{ post.post_content }}</h1>
                        {% endif %}
                    </div>
                </div><br>
                <a href="#" style="float:right;"><button class="btn btn-success">View</button></a><br>
                <a href="#" style="float:right;"><button class="btn btn-info">Comment</button></a><br>
                <a href="#" style="float:right;"><button class="btn btn-danger">Delete</button></a>
            </div>
            <div class="col-sm-2"></div>
        </div><br><br>
        {% endfor %} 
    </div>
</div>
{% endblock %}




