{% extends 'users/navbar.html' %}
{% block title %}
    View {{ post.user.username }}'s post:
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <center>
                {% if messages %}
                    <div class="alert alert-danger">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            </center>
            <!-- Display the post content -->
             <b>{{ post.user.username }}'s post</b>
             <p><small>Posted on: {{ post.post_date }} </small></p>
             <hr>

             {% if post.post_content %}
                <h2> {{post.post_content }} </h2>
             {% endif %}

             {% if post.upload_image %}
                <img src="{{ post.upload_image.url }}" alt="Post Image" style="max-width: 100%;">
             {% endif %}
             <hr>
            <span>{{ post.total_likes }} {{ post.total_likes|pluralize:"Like,Likes" }}</span>
           <div style="display: flex; flex-wrap: wrap;">
                <form method="post" action="{% url 'like_post' post.post_id %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.get_full_path }}">
                    {% if user in post.likes.all %}
                        <button type="submit" class="btn btn-danger">Unlike</button>
                    {% else %}
                        <button type="submit" class="btn btn-primary">Like</button>
                    {% endif %}
                </form>
                {% if post.user == request.user %}
                     <a href="{% url 'post_edit' post.post_id %}" style="float:left; margin-left:8px;">
                        <button class="btn btn-success">Edit</button>
                    </a>
                    <a href="{% url 'h_post_delete' post.post_id %}" style="float:left; margin-left:8px;">
                        <button class="btn btn-danger">Delete</button>
                    </a>
                {% endif %}
            </div>

              <!-- Display the comments -->
              <h3>Comments:</h3>
              {% for comment in comments %}
                <div class="panel panel-info">
                    <div class="panel-body">    
                        <p><strong> {{ comment.comment_author }} </strong><i> commented</i> on {{ comment.date }}</p>
                        <p class="text-primary" style="margin-left: 5px; font-size: 14px;"> {{ comment.comment }} </p>
                    </div>
                </div>
              {% empty %}
                <p>No comments yet.</p>
              {% endfor %}   
              
            <!-- Comment form -->
            <div class="panel panel-info">
                <div class="panel-body">   
                <form action="{% url 'comment_post' post.post_id %}" method="post" class="form-inline">
                    {% csrf_token %}
                    <textarea class="pb-cmnt-textarea" rows="4" style="width: 100%;" name="comment" placeholder="Write your comment!"></textarea><br>
                    <button id="btn-post" class="btn btn-info" name="sub" style="margin: 1% 0% 0% 75%;">Comment</button>
                </form>
                </div>
            </div>
             <hr>

        </div>
    </div>

{% endblock %}