{% extends 'users/navbar.html' %}
{% load static %}
{% block title %}
    {{ user_profile.user.username }}'s profile
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
         <div class="row">
            <div class="col-sm-1">
            </div>
                <center>
                    <div style="background-color: #e6e6e6;" class="col-sm-3">
                            <h4>{{ user_profile.user.username }} </h4>
                            <img class="img-circle" src="{% if user_profile.user_image %}{{ user_profile.user_image.url }}{% else %}{% static 'default_profile.png' %}{% endif %}" width="150px" height="150px">
                            <br><br>
                            <ul class="list-group">
                                <li class="list-group-item" title="Username"><strong>{{user_profile.user.first_name}} {{user_profile.user.last_name}}</strong></li>
    
                                <li class="list-group-item" title="User status"><strong style="color: gray;">{{user_profile.describe_user}}</strong></li>
    
                                <li class="list-group-item" title="Gender"><strong>{{user_profile.user_gender}}</strong></li>
    
                                <li class="list-group-item" title="Country"><strong>{{user_profile.user_country}}</strong></li>
    
                                <li class="list-group-item" title="User Registration Date"><strong>{{user_profile.user_reg_date}}</strong></li>
                            </ul>

                        {% if is_own_profile %}
                            <a href="#" class="btn btn-success">Edit Profile</a>
                        {% else %}
                            <a href="#" class="btn btn-success">Follow</a>
                        {% endif %}
                        <br><br><br>
                    </div>
                </center>   
                <div class="col-sm-8">
                    <center><h1><strong> {{ user_profile.user.username }}</strong>'s Posts</h1></center>
                <!-- display user posts -->
                {% for post in posts %}
                    <div id="own_posts">
                        <div class="row">
                            <div class="col-sm-2">
                                <p><img src="{{ post.user.userprofile.user_image.url }}" class="img-circle" width="100px" height="100px"></p>
                            </div>
                            <div class="col-sm-6"  style="margin-left: 30px;">
                                <h3><a style="text-decoration: none; cursor: pointer; color: #3897F0;" href="{% url 'user_profile' post.user.id %}">{{ user_profile.user.username }}</a></h3>
                                <h4><small style="color: black;">Updated a post on <strong>{{ post.post_date }}</strong></small></h4>
                            </div>
                            <div class="col-sm-4">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                  <!-- If a post has both an image and content -->
                                  {% if post.post_content and post.upload_image %}
                                    <p>{{ post.post_content }}</p>
                                    <img id="post-img" src="{{ post.upload_image.url }}" style="height:230px; padding: 5px 10px; min-width: 102%; max-width: 50%;">

                                  <!-- If a post only has an image -->
                                  {% elif post.upload_image %}
                                     <img id="post_img" src="{{ post.upload_image.url }}" style="height:230px; padding: 5px 10px; min-width: 102%; max-width: 50%;">
                
                                  <!-- If a post is text only -->
                                  {% elif post.post_content %}
                                    <h1>{{ post.post_content }}</h1>
                                  {% endif %}
                            </div>
                        </div><br>
                        <a href="{% url 'single_post' post.post_id %}" style="float:left;"><button class="btn btn-success">View</button></a>
                        <a href="{% url 'single_post' post.post_id %}" style="float:left;"><button class="btn btn-info">Comment</button></a>
                        {% if is_own_profile %}
                            <a href="{% url 'post_edit' post.post_id %}" style="float:left;"><button class="btn btn-success">Edit</button></a>
                            <a href="{% url 'p_post_delete' post.post_id %}" style="float:left;"><button class="btn btn-danger">Delete</button></a>
                        {% endif %}
                    </div><br><br>
                {% endfor %}
                </div>
        </div>
    </div>
{% endblock %}



