body{
    overflow-x: hidden;
}

label{
    padding: 7px;
    display: table;
    color: #fff;
}

input[type="file"]{
    display: none;
}

#content{
    width: 70%;
}

#btn-post{
    min-width: 25%;
    max-width: 25%;
}




#posts{
    border: 5px solid #e6e6e6;
    padding: 40px 50px;
    margin: 0;
}

#profile-posts{
    padding: 40px 50px;
    margin: 0;
}


#single-posts{
    border: 5px solid #e6e6e6;
    padding: 40px 50px;

}


