{% extends 'main/main.html' %}
{% block title %}Join Coding Cafe{% endblock %}
{% block content %}
    <div class="col-sm-12">
        <div class="main-content">
            <div class="header">
                <h3 style="text-align: center;"><strong>Join Coding Cafe</strong></h3><hr>
            </div>
            <div class="l-part">
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="First Name" name="first_name" required="required">
                    </div><br>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Last Name" name="last_name" required="required">
                    </div><br>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input id="password" type="password" class="form-control" placeholder="Password" name="u_pass" required="required">
                    </div><br>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input id="email" type="email" class="form-control" placeholder="Email" name="u_email" required="required">
                    </div><br>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-chevron-down"></i>
                        </span>
                        <select class="form-control" name="u_country" required="required">
                            <option disabled>Select your country</option>
                            <option>Sri Lanka</option>
                            <option>Pakistan</option>
                            <option>USA</option>
                            <option>India</option>
                            <option>Japan</option>
                            <option>UK</option>
                            <option>Russia</option>
                        </select>
                    </div><br>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-chevron-down"></i>
                        </span>
                        <select class="form-control input-md" name="u_gender" required="required">
                            <option disabled>Select your gender</option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Others</option>
                        </select>
                    </div><br>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                        <input type="date" class="form-control input-md"  name="u_birthday" required="required">
                    </div><br>
                    <a style="text-decoration:none; float: right; color: #187fab;" data-toggle="tooltip" title="Login" href="{% url 'login' %}">Already have an account?</a><br><br>
                    <center><button id="signup" class="btn btn-info btn-lg" name="sign_up">Sign up</button></center>
                </form>
            </div>
        </div>
    </div>
{% endblock %}